{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h2>Portfolio</h2>
    <div>
        <table class="table">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ (stock.shares * stock.price) | usd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th id="cash" colspan="3" class="border-0 fw-bold text-end">Cash</th>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <th id="total" colspan="3" class="border-0 fw-bold text-end">Total</th>
                <td>{{ (total + cash) | usd }}</td>
            </tr>
        </table>

    </div>
{% block main %}